@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <h1>Beer Playlist</h1>
        <p class="lead">Find the perfect pairing.</p>
    </center>
</div>

<div class="row">
    <center><img src="~/Images/clink.jpg" /></center>
</div>